In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', 10)

In [2]:
churn_df = pd.read_csv('https://raw.githubusercontent.com/divyanshu132/Bank-Customer-Churn-Prediction/master/Churn_Modelling.csv')

In [3]:
churn_df

      RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0             1   15634602    Hargrave        619      France  Female   42       2       0.00          1              1          1       101348.88             1
1             2   15647311        Hill        608       Spain  Female   41       1   83807.86          1              0          1       112542.58             0
2             3   15619304        Onio        502      France  Female   42       8  159660.80          3              1          0       113931.57             1
3             4   15701354        Boni        699      France  Female   39       1       0.00          2              0          0        93826.63             0
4             5   15737888    Mitchell        850       Spain  Female   43       2  125510.82          1              1          1        79084.10             0
...         ...        ...         ...        ...         ...     ...  ...     ...        ...        ...            ...        ...             ...           ...
9995       9996   15606229    Obijiaku        771      France    Male   39       5       0.00          2              1          0        96270.64             0
9996       9997   15569892   Johnstone        516      France    Male   35      10   57369.61          1              1          1       101699.77             0
9997       9998   15584532         Liu        709      France  Female   36       7       0.00          1              0          1        42085.58             1
9998       9999   15682355   Sabbatini        772     Germany    Male   42       3   75075.31          2              1          0        92888.52             1
9999      10000   15628319      Walker        792      France  Female   28       4  130142.79          1              1          0        38190.78             0

[10000 rows x 14 columns]

In [9]:
churn_df.describe

<bound method NDFrame.describe of       RowNumber  CustomerId    Surname  CreditScore  Geography  Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0             1   15634602    Hargrave        619            0       0   42       2       0.00          1              1          1       101348.88             1
1             2   15647311        Hill        608            2       0   41       1   83807.86          1              0          1       112542.58             0
2             3   15619304        Onio        502            0       0   42       8  159660.80          3              1          0       113931.57             1
3             4   15701354        Boni        699            0       0   39       1       0.00          2              0          0        93826.63             0
4             5   15737888    Mitchell        850            2       0   43       2  125510.82          1              1          1        79084.10             0
...         ...        ...         ...        ...          ...     ...  ...     ...        ...        ...            ...        ...             ...           ...
9995       9996   15606229    Obijiaku        771            0       1   39       5       0.00          2              1          0        96270.64             0
9996       9997   15569892   Johnstone        516            0       1   35      10   57369.61          1              1          1       101699.77             0
9997       9998   15584532         Liu        709            0       0   36       7       0.00          1              0          1        42085.58             1
9998       9999   15682355   Sabbatini        772            1       1   42       3   75075.31          2              1          0        92888.52             1
9999      10000   15628319      Walker        792            0       0   28       4  130142.79          1              1          0        38190.78             0

[10000 rows x 14 columns]>

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
label = LabelEncoder()

In [6]:
churn_df['Gender'] = label.fit_transform(churn_df['Gender'])
churn_df['Geography'] = label.fit_transform(churn_df['Geography'])

In [10]:
churn_df.Gender.value_counts()

1    5457
0    4543
Name: Gender, dtype: int64

In [15]:
from sklearn.feature_selection import chi2

In [23]:
X = churn_df.drop(['Exited'], axis=1)
y = churn_df['Exited']

In [26]:
X = X[["Geography", "Gender", "Tenure", "NumOfProducts", "HasCrCard", "IsActiveMember"]]

In [28]:
chi_sc = chi2(X,y)
print(chi_sc)

(array([ 11.85325057,  51.53992627,   3.27053797,   5.05539429,
         0.15004097, 118.19941432]), array([5.75607838e-04, 7.01557451e-13, 7.05344899e-02, 2.45493956e-02,
       6.98496209e-01, 1.56803624e-27]))