In [19]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [22]:
df = pd.read_csv('https://raw.githubusercontent.com/manishanker/statistics_ML_jan_2020/master/bank.csv', sep=';')

In [53]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [23]:
df.describe

<bound method NDFrame.describe of       age            job  marital  education default balance housing loan  \
0      30     unemployed  married    primary      no    1787      no   no
1      33       services  married  secondary      no    4789     yes  yes
2      35     management   single   tertiary      no    1350     yes   no
3      30     management  married   tertiary      no    1476     yes  yes
4      59    blue-collar  married  secondary      no       0     yes   no
...   ...            ...      ...        ...     ...     ...     ...  ...
4516   33       services  married  secondary      no    -333     yes   no
4517   57  self-employed  married   tertiary     yes   -3313     yes  yes
4518   57     technician  married  secondary      no     295      no   no
4519   28    blue-collar  married  secondary      no    1137      no   no
4520   44            NaN      NaN   tertiary      no    1136     yes  yes

       contact   day month  duration  campaign  pdays  previous poutcome   y
0     cellular  19.0   oct      79.0         1     -1         0  unknown  no
1     cellular  11.0   may     220.0         1    339         4  failure  no
2     cellular  16.0   apr     185.0         1    330         1  failure  no
3      unknown   3.0   jun     199.0         4     -1         0  unknown  no
4      unknown   5.0   may     226.0         1     -1         0  unknown  no
...        ...   ...   ...       ...       ...    ...       ...      ...  ..
4516  cellular  30.0   jul     329.0         5     -1         0  unknown  no
4517   unknown   9.0   may     153.0         1     -1         0  unknown  no
4518  cellular  19.0   aug     151.0        11     -1         0  unknown  no
4519  cellular   6.0   feb     129.0         4    211         3    other  no
4520       NaN   3.0   apr       NaN         2    249         7    other  no

[4521 rows x 17 columns]>

In [24]:
df.shape

(4521, 17)

In [25]:
df.isna().sum()/df.shape[0]*100

age          0.000000
job          0.066357
marital      0.066357
education    0.066357
default      0.000000
balance      0.022119
housing      0.022119
loan         0.000000
contact      0.066357
day          0.022119
month        0.000000
duration     0.044238
campaign     0.000000
pdays        0.000000
previous     0.000000
poutcome     0.000000
y            0.066357
dtype: float64

In [26]:
X = df.drop(['y'], axis=1)

In [32]:
y = df['y']

In [33]:
from sklearn.model_selection import train_test_split

In [61]:
# Creating train and test data
X_train, x_test, y_train, y_test = train_test_split(X, y, train_size=0.75,test_size=0.25, random_state=21)

In [71]:
# Printing shape of each returned value from train_test_split method
print(X_train.shape)
print(x_test.shape)
print(y_train.values.reshape(-1,1).shape)
print(y_test.values.reshape(-1,1).shape)

(3390, 16)
(1131, 16)
(3390, 1)
(1131, 1)

In [63]:
print(type(y_train))

<class 'pandas.core.series.Series'>

In [57]:
y_train.value_counts()

no     2992
yes     385
No        6
NO        2
Yes       1
yEs       1
Name: y, dtype: int64

In [50]:
y_test.value_counts()

no     996
yes    134
NO       1
Name: y, dtype: int64

In [68]:
df['y'].value_counts()

no     3988
yes     519
No        6
NO        3
Yes       1
yEs       1
Name: y, dtype: int64