In [13]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind_from_stats, ttest_ind

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/mahat/TtestExample/master/dataset/MPG_DataSet.csv', sep=';')

In [5]:
df

     USA  Japan
0     18     24
1     15     27
2     18     27
3     16     25
4     17     31
..   ...    ...
244   27   -999
245   27   -999
246   32   -999
247   28   -999
248   31   -999

[249 rows x 2 columns]

In [24]:
#Extracting all valid values from US column
us_mpg = df['USA'].values
us_mpg

array([18, 15, 18, 16, 17, 15, 14, 14, 14, 15, 15, 14, 15, 14, 22, 18, 21,
       21, 10, 10, 11,  9, 28, 25, 19, 16, 17, 19, 18, 14, 14, 14, 14, 12,
       13, 13, 18, 22, 19, 18, 23, 26, 25, 20, 21, 13, 14, 15, 14, 17, 11,
       13, 12, 13, 15, 13, 13, 14, 22, 28, 13, 14, 13, 14, 15, 12, 13, 13,
       14, 13, 12, 13, 18, 16, 18, 18, 23, 11, 12, 13, 12, 18, 21, 19, 21,
       15, 16, 15, 11, 20, 21, 19, 15, 26, 25, 16, 16, 18, 16, 13, 14, 14,
       14, 28, 19, 18, 15, 15, 16, 15, 16, 14, 17, 16, 15, 18, 21, 20, 13,
       23, 20, 23, 18, 19, 25, 26, 18, 16, 16, 15, 22, 22, 24, 23, 29, 25,
       20, 18, 19, 18, 27, 13, 17, 13, 13, 13, 30, 26, 18, 17, 16, 15, 18,
       21, 19, 19, 16, 16, 16, 16, 25, 26, 31, 34, 36, 20, 19, 20, 19, 21,
       20, 25, 21, 19, 21, 21, 19, 18, 19, 18, 18, 18, 30, 31, 23, 24, 22,
       20, 22, 20, 21, 17, 18, 17, 18, 17, 16, 19, 19, 36, 27, 23, 24, 34,
       35, 28, 29, 27, 34, 32, 28, 26, 24, 19, 28, 24, 27, 27, 26, 24, 30,
       39, 35, 34, 30, 22, 27, 20, 18, 28, 27, 34, 31, 29, 27, 24, 23, 38,
       36, 25, 38, 26, 22, 36, 27, 27, 32, 28, 31])

In [23]:
#Extracting all valid values from Japan column
jp_mpg = df['Japan'].values
jp_mpg = jp_mpg[jp_mpg!=-999]
jp_mpg

array([24, 27, 27, 25, 31, 35, 24, 19, 28, 23, 27, 20, 22, 18, 20, 31, 32,
       31, 32, 24, 26, 29, 24, 24, 33, 33, 32, 28, 19, 32, 34, 26, 30, 22,
       22, 33, 39, 36, 28, 27, 21, 24, 30, 34, 32, 38, 37, 30, 31, 37, 32,
       47, 41, 45, 34, 33, 24, 32, 39, 35, 32, 37, 38, 34, 34, 32, 33, 32,
       25, 24, 37, 31, 36, 36, 34, 38, 32, 38, 32])

In [36]:
jp_mean = jp_mpg.mean()
jp_var = jp_mpg.std()
jp_len = len(jp_mpg)
us_mean = us_mpg.mean()
us_var = us_mpg.std()
us_len = len(us_mpg)

In [47]:
# T-test for means of two independent samples from descriptive statistics
_statistic, p_val = ttest_ind_from_stats(jp_mean,jp_var,jp_len,us_mean,us_var,us_len, equal_var=False)

In [43]:
t_statistic, p_val

(13.014240877415254, 9.859371078452126e-26)

In [46]:
# Two-sided test for the null hypothesis that 2 independent samples
have identical average (expected) values. This test assumes that the
populations have identical variances by default.
t,p = ttest_ind(us_mpg, jp_mpg, equal_var=False)

In [45]:
t,p

(-12.946273274932006, 1.5708547842954538e-25)